<div class="center hero-unit">
	<h1>Agile Budget</h1>
	<h2>The budget system that frees you and your money</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
	
<%= link_to image_tag("dollar_sign.jpg", alt: "Pricing"), 'static_pages/pricing' %>