<footer class="footer">
	<small>
		Agile Budget, a <a href="http://dangerzonetech.com">Danger Zone Tech</a> product.
	</small>
	<nav>
		<ul>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Blog", '#' %></li>
		</ul>
	</nav>
</footer>